<!-- <app-user></app-user> -->
<!-- <app-form-controls></app-form-controls> -->
<!-- <app-form-group-example></app-form-group-example> -->
<!-- <app-form-builder-example></app-form-builder-example> -->
<!-- <app-form-select-example></app-form-select-example> -->
<!-- <app-form-validator-example></app-form-validator-example> -->
<!-- <app-custom-validator-example></app-custom-validator-example> -->
<!-- <app-number-parent></app-number-parent> -->
<!-- <app-stop-watch-parent></app-stop-watch-parent> -->
<!-- <app-cpcolor-parent></app-cpcolor-parent> -->
<!-- <app-cptheme></app-cptheme> -->
<!-- <app-output></app-output> -->
<!-- <app-rx-js-example></app-rx-js-example> -->
<!-- <app-app-first></app-app-first> -->
<router-outlet></router-outlet>
