<table style="padding-top: 50px;" width="30%" border="1px">
    <th rowspan="2">Roll No</th>
    <th  rowspan="2">Names</th>
    <th rowspan="2">Academic Years</th>
    <th  colspan="3">Marks</th>
    <th  rowspan="3">&nbsp;&nbsp;<a href="javascript:void(0)" (click)="showStudentResults(showDetails[0]['academicYears'])">Show Results</a>&nbsp;&nbsp;</th>
    <tr ><td>Arts</td><td>Maths</td><td>Science</td></tr>
    <tbody *ngIf="showDetails">
       
        <tr *ngFor="let std of showDetails">
            <td >{{std.rollNo}}</td>
            <td >{{std.studentName}}</td>
            <ng-container *ngFor="let det of std.academicYears">    
             <td><span >&nbsp;&nbsp;{{det.academicYr}}</span></td>
             <td><span >&nbsp;&nbsp;{{det.marks.arts}}</span></td>
             <td><span >&nbsp;&nbsp;{{det.marks.maths}}</span></td>
             <td><span >&nbsp;&nbsp;{{det.marks.science}}</span></td>
          </ng-container>
        </tr>
    </tbody>
    </table>
    <table *ngIf = "this.showResult" style="padding-top: 50px;" width="30%" border="1px">
        <th rowspan="2">Academic Years</th>
        <th  rowspan="2">Total Marks</th>
        <th  rowspan="2">Percentage</th>
        <th rowspan="2">Result</th>
        <th  colspan="3">Grade</th>
         <tbody *ngIf="showResult">
           
            <tr>
                <td >{{accYrs}}</td>
                <td >{{total}}</td>  
                <td >{{average}}</td> 
                 <td><span >&nbsp;&nbsp;{{result}}</span></td>
                 <td><span >&nbsp;&nbsp;{{grade}}</span></td>
            </tr>
        </tbody>
        </table>
    