<!-- <app-article></app-article> -->
<!-- <app-student-detail></app-student-detail> -->
<!-- <app-person></app-person> -->
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-template-example></app-template-example> -->
<!-- <app-my-post-banner></app-my-post-banner> -->
<!-- <app-number-parent></app-number-parent> -->
<!-- <app-cp-color-parent></app-cp-color-parent> -->
<!-- <app-viewchildrendemo></app-viewchildrendemo> -->
<!-- <app-emp-dashboard></app-emp-dashboard> -->
<!-- <app-worker-dashboard></app-worker-dashboard> -->
<!-- <app-animal-dashboard></app-animal-dashboard> -->
<!-- <app-computer></app-computer> -->
<app-book></app-book>